In [66]:
import numpy as np
import pandas as pd

In [67]:
# Read data
df = pd.read_csv("/home/chao/Desktop/Ironhack/Projects/Project-Week-2-Transporte/Project-Week-2-Barcelona/datasets/combined1.csv")

In [ ]:
df.head()

In [ ]:
# check the dataframe type
df.dtypes

In [68]:
# Convert columns to desire type, here we use timedelta, 
# I had tried with datetime, but there was problem of replace the wrong hour data

df.departure_time = pd.to_timedelta(df.departure_time)
df.arrival_time = pd.to_timedelta(df.arrival_time)
df = df.astype({"stop_id":object})

In [ ]:
# check the dataframe type
df.dtypes

In [ ]:
# check how many trip records we have
len(df.trip_id.unique())

In [ ]:
# check how many routes (metro and bus) we have
route_name = df.route_name.unique()
route_name

In [69]:
# create a new column where if if stop_sequence is 0, meaning that this is the start point
df["start_stop"] = df["stop_sequence"].apply(lambda x:x==1)

In [70]:
# subset of each routes

df_L5 = df[df.route_name=="L5"]
df_L4 = df[df.route_name=="L4"]
df_L3 = df[df.route_name=="L3"]
df_L2 = df[df.route_name=="L2"]
df_L1 = df[df.route_name=="L1"]
df_63 = df[df.route_name=="63"]
df_65 = df[df.route_name=="65"]
df_124 = df[df.route_name=="124"]
df_125 = df[df.route_name=="125"]
df_126 = df[df.route_name=="126"]
df_127 = df[df.route_name=="127"]
df_H6 = df[df.route_name=="H6"]
df_H12 = df[df.route_name=="H12"]
df_V19 = df[df.route_name=="V19"]
df_D20 = df[df.route_name=="D20"]

In [ ]:
df_D20.head()

In [71]:
import sys

if not sys.warnoptions:
    import warnings
    warnings.simplefilter("ignore")

# Similar to previous where we find the start point, here we find the end point.
    
df_L1["destination"] = df["stop_sequence"].apply(lambda x:x==30)
df_L2["destination"] = df["stop_sequence"].apply(lambda x:x==18)
df_L3["destination"] = df["stop_sequence"].apply(lambda x:x==26)
df_L4["destination"] = df["stop_sequence"].apply(lambda x:x==22)
df_L5["destination"] = df["stop_sequence"].apply(lambda x:x==26)
df_63["destination"] = df["stop_sequence"].apply(lambda x:x==35)
df_65["destination"] = df["stop_sequence"].apply(lambda x:x==33)
df_124["destination"] = df["stop_sequence"].apply(lambda x:x==17)
df_125["destination"] = df["stop_sequence"].apply(lambda x:x==21)
df_126["destination"] = df["stop_sequence"].apply(lambda x:x==19)
df_127["destination"] = df["stop_sequence"].apply(lambda x:x==26)
df_H6["destination"] = df["stop_sequence"].apply(lambda x:x==30)
df_H12["destination"] = df["stop_sequence"].apply(lambda x:x==34)
df_V19["destination"] = df["stop_sequence"].apply(lambda x:x==38)
df_D20["destination"] = df["stop_sequence"].apply(lambda x:x==30)

## L1

In [ ]:
df_L1.describe()

In [72]:
# To extract only rows of start point and end point separately and then combined them together. 
#Sort it by trip and reset their index
df_L1_a = df_L1[(df_L1["start_stop"] == True)]
df_L1_b = df_L1[(df_L1["destination"] == True)]
df_L1_full = pd.concat([df_L1_a, df_L1_b]).sort_values(by=['trip_id'])
df_L1_full =df_L1_full.reset_index(drop=True)

In [ ]:
df_L1_full.head()

In [73]:
# Create a list. Loop over the dataframe and calculate the total travelling time.
travelling_time_L1 = []
for i in range(df_L1_full.shape[0]-1):
    if df_L1_full.trip_id[i] == df_L1_full.trip_id[i+1]:       
        time_interval = df_L1_full.departure_time[i].components.hours
        total_travelling_time = df_L1_full.arrival_time[i+1] -df_L1_full.arrival_time[i]
        x = [time_interval,total_travelling_time]
        travelling_time_L1.append(x)

In [ ]:
df_L1_full.head()

In [74]:
# Convert the list into dataframe
travelling_time_L1 = pd.DataFrame(travelling_time_L1)

# Change the column name
travelling_time_L1.columns = ["L1_day_hour", "total_travelling_time"]

In [75]:
# convert the timedelta data into minutes, convert it to float and absolute value.
travelling_time_L1["total_travelling_time"] = travelling_time_L1["total_travelling_time"]/pd.Timedelta('1 minutes')
travelling_time_L1["total_travelling_time"] = travelling_time_L1["total_travelling_time"].astype(float)
travelling_time_L1["total_travelling_time"] = travelling_time_L1["total_travelling_time"].abs()
travelling_time_L1.describe()

       L1_day_hour  total_travelling_time
count   233.000000             233.000000
mean     13.175966              44.610157
std       5.801228               0.698213
min       0.000000              43.816667
25%       8.000000              43.900000
50%      13.000000              44.900000
75%      18.000000              45.350000
max      23.000000              45.533333

In [76]:
# Calculate the mean travelling time by each hour
L1_time = travelling_time_L1.groupby(["L1_day_hour"]).mean()
L1_freq = travelling_time_L1.groupby(["L1_day_hour"]).count()
L1_resume = pd.concat([L1_time, L1_freq], axis = 1)
L1_resume.columns = ["total_traveling_time","hourly_train_number"]
L1_resume

             total_traveling_time  hourly_train_number
L1_day_hour
0                       44.141667                    4
1                       44.763333                    5
2                       45.000000                    2
4                       45.000000                    2
5                       44.311111                    3
6                       45.155556                   15
7                       45.410256                   13
8                       45.435556                   15
9                       45.211111                    9
10                      44.797500                   20
11                      44.186111                    6
12                      43.858333                   12
13                      43.854545                   11
14                      44.125641                   13
15                      44.130556                   12
16                      43.972727                   11
17                      44.037179                   13
18                      44.641111                   15
19                      44.741111                   15
20                      44.851852                    9
21                      44.788462                   13
22                      44.446296                    9
23                      44.822222                    6

## L2

In [77]:
df_L2_a = df_L2[(df_L2["start_stop"] == True)]
df_L2_b = df_L2[(df_L2["destination"] == True)]
df_L2_full = pd.concat([df_L2_a, df_L2_b]).sort_values(by=['trip_id'])
df_L2_full =df_L2_full.reset_index(drop=True)

travelling_time_L2 = []
for i in range(df_L2_full.shape[0]-1):
    if df_L2_full.trip_id[i] == df_L2_full.trip_id[i+1]:       
        time_interval = df_L2_full.departure_time[i].components.hours
        total_travelling_time = df_L2_full.arrival_time[i+1] -df_L2_full.arrival_time[i]
        x = [time_interval,total_travelling_time]
        travelling_time_L2.append(x)

travelling_time_L2 = pd.DataFrame(travelling_time_L2)
travelling_time_L2.head()

travelling_time_L2.columns = ["L2_day_hour", "total_travelling_time"]

travelling_time_L2["total_travelling_time"] = travelling_time_L2["total_travelling_time"]/pd.Timedelta('1 minutes')
travelling_time_L2["total_travelling_time"] = travelling_time_L2["total_travelling_time"].astype(float)
travelling_time_L2["total_travelling_time"] = travelling_time_L2["total_travelling_time"].abs()
travelling_time_L2.describe()

L2_time = travelling_time_L2.groupby(["L2_day_hour"]).mean()
L2_freq = travelling_time_L2.groupby(["L2_day_hour"]).count()
L2_resume = pd.concat([L2_time, L2_freq], axis = 1)
L2_resume.columns = ["total_traveling_time","hourly_train_number"]
L2_resume

             total_traveling_time  hourly_train_number
L2_day_hour
0                       27.550000                    4
1                       27.394444                    3
2                       28.016667                    1
5                       28.419444                    6
6                       28.490000                    5
7                       28.640909                   11
8                       28.393750                    8
9                       28.703571                   14
10                      28.406667                   10
11                      28.186667                   10
12                      28.133333                    8
13                      28.181818                   11
14                      28.102381                    7
15                      28.228571                    7
16                      28.068750                    8
17                      28.196296                    9
18                      28.366667                    6
19                      28.200000                    9
20                      28.266667                    5
21                      28.275000                    4
22                      27.673333                    5
23                      27.601852                    9

## L3

In [78]:
df_L3_a = df_L3[(df_L3["start_stop"] == True)]
df_L3_b = df_L3[(df_L3["destination"] == True)]
df_L3_full = pd.concat([df_L3_a, df_L3_b]).sort_values(by=['trip_id'])
df_L3_full =df_L3_full.reset_index(drop=True)

travelling_time_L3 = []
for i in range(df_L3_full.shape[0]-1):
    if df_L3_full.trip_id[i] == df_L3_full.trip_id[i+1]:       
        time_interval = df_L3_full.departure_time[i].components.hours
        total_travelling_time = df_L3_full.arrival_time[i+1] -df_L3_full.arrival_time[i]
        x = [time_interval,total_travelling_time]
        travelling_time_L3.append(x)

travelling_time_L3 = pd.DataFrame(travelling_time_L3)
travelling_time_L3.head()

travelling_time_L3.columns = ["L3_day_hour", "total_travelling_time"]

travelling_time_L3["total_travelling_time"] = travelling_time_L3["total_travelling_time"]/pd.Timedelta('1 minutes')
travelling_time_L3["total_travelling_time"] = travelling_time_L3["total_travelling_time"].astype(float)
travelling_time_L3["total_travelling_time"] = travelling_time_L3["total_travelling_time"].abs()
travelling_time_L3.describe()

L3_time = travelling_time_L3.groupby(["L3_day_hour"]).mean()
L3_freq = travelling_time_L3.groupby(["L3_day_hour"]).count()
L3_resume = pd.concat([L3_time, L3_freq], axis = 1)
L3_resume.columns = ["total_traveling_time","hourly_train_number"]
L3_resume

             total_traveling_time  hourly_train_number
L3_day_hour
0                       39.804762                    7
1                       39.747619                    7
2                       39.183333                    2
4                       40.166667                    3
5                       39.069048                    7
6                       40.292857                   14
7                       40.045455                   11
8                       40.590909                   11
9                       40.275439                   19
10                      40.380952                   14
11                      40.848148                    9
12                      40.216667                   14
13                      40.698039                   17
14                      40.340909                   11
15                      40.407576                   22
16                      40.192222                   15
17                      40.247436                   13
18                      40.194444                   15
19                      39.826667                   10
20                      40.254444                   15
21                      40.070833                   12
22                      39.863333                   10
23                      40.147222                   12

## L4

In [79]:
df_L4_a = df_L4[(df_L4["start_stop"] == True)]
df_L4_b = df_L4[(df_L4["destination"] == True)]
df_L4_full = pd.concat([df_L4_a, df_L4_b]).sort_values(by=['trip_id'])
df_L4_full =df_L4_full.reset_index(drop=True)

travelling_time_L4 = []
for i in range(df_L4_full.shape[0]-1):
    if df_L4_full.trip_id[i] == df_L4_full.trip_id[i+1]:       
        time_interval = df_L4_full.departure_time[i].components.hours
        total_travelling_time = df_L4_full.arrival_time[i+1] -df_L4_full.arrival_time[i]
        x = [time_interval,total_travelling_time]
        travelling_time_L4.append(x)

travelling_time_L4 = pd.DataFrame(travelling_time_L4)
travelling_time_L4.head()

travelling_time_L4.columns = ["L4_day_hour", "total_travelling_time"]

travelling_time_L4["total_travelling_time"] = travelling_time_L4["total_travelling_time"]/pd.Timedelta('1 minutes')
travelling_time_L4["total_travelling_time"] = travelling_time_L4["total_travelling_time"].astype(float)
travelling_time_L4["total_travelling_time"] = travelling_time_L4["total_travelling_time"].abs()
travelling_time_L4.describe()

L4_time = travelling_time_L4.groupby(["L4_day_hour"]).mean()
L4_freq = travelling_time_L4.groupby(["L4_day_hour"]).count()
L4_resume = pd.concat([L4_time, L4_freq], axis = 1)
L4_resume.columns = ["total_traveling_time","hourly_train_number"]
L4_resume

             total_traveling_time  hourly_train_number
L4_day_hour
0                            35.0                    8
1                            35.0                    9
2                            35.0                    4
3                            35.0                    3
4                            35.0                    2
5                            35.0                   10
6                            35.0                   12
7                            35.0                   10
8                            35.0                   11
9                            35.0                   12
10                           35.0                   10
11                           35.0                   12
12                           35.0                   13
13                           35.0                   16
14                           35.0                   12
15                           35.0                   12
16                           35.0                   14
17                           35.0                   17
18                           35.0                   14
19                           35.0                   16
20                           35.0                   19
21                           35.0                   20
22                           35.0                   10
23                           35.0                   11

## L5

In [80]:
df_L5_a = df_L5[(df_L5["start_stop"] == True)]
df_L5_b = df_L5[(df_L5["destination"] == True)]
df_L5_full = pd.concat([df_L5_a, df_L5_b]).sort_values(by=['trip_id'])
df_L5_full =df_L5_full.reset_index(drop=True)

travelling_time_L5 = []
for i in range(df_L5_full.shape[0]-1):
    if df_L5_full.trip_id[i] == df_L5_full.trip_id[i+1]:       
        time_interval = df_L5_full.departure_time[i].components.hours
        total_travelling_time = df_L5_full.arrival_time[i+1] -df_L5_full.arrival_time[i]
        x = [time_interval,total_travelling_time]
        travelling_time_L5.append(x)

travelling_time_L5 = pd.DataFrame(travelling_time_L5)
travelling_time_L5.head()

travelling_time_L5.columns = ["L5_day_hour", "total_travelling_time"]

travelling_time_L5["total_travelling_time"] = travelling_time_L5["total_travelling_time"]/pd.Timedelta('1 minutes')
travelling_time_L5["total_travelling_time"] = travelling_time_L5["total_travelling_time"].astype(float)
travelling_time_L5["total_travelling_time"] = travelling_time_L5["total_travelling_time"].abs()
travelling_time_L5.describe()

L5_time = travelling_time_L5.groupby(["L5_day_hour"]).mean()
L5_freq = travelling_time_L5.groupby(["L5_day_hour"]).count()
L5_resume = pd.concat([L5_time, L5_freq], axis = 1)
L5_resume.columns = ["total_traveling_time","hourly_train_number"]
L5_resume

             total_traveling_time  hourly_train_number
L5_day_hour
0                       41.369048                    7
2                       40.683333                    1
5                       40.968750                    8
6                       41.650000                   10
7                       41.839394                   11
8                       41.795833                   16
9                       41.753571                   14
10                      41.814103                   26
11                      41.803333                   30
12                      41.693056                   12
13                      41.834615                   13
14                      41.756061                   11
15                      41.797917                    8
16                      41.757143                    7
17                      41.788095                    7
18                      41.693333                   10
19                      41.726667                    5
20                      41.670370                    9
21                      41.402778                   12
22                      41.058333                   10
23                      40.721296                   18

## Bus 63

In [81]:
df_63_a = df_63[(df_63["start_stop"] == True)]
df_63_b = df_63[(df_63["destination"] == True)]
df_63_full = pd.concat([df_63_a, df_63_b]).sort_values(by=['trip_id'])
df_63_full =df_63_full.reset_index(drop=True)

travelling_time_63 = []
for i in range(df_63_full.shape[0]-1):
    if df_63_full.trip_id[i] == df_63_full.trip_id[i+1]:       
        time_interval = df_63_full.departure_time[i].components.hours
        total_travelling_time = df_63_full.arrival_time[i+1] -df_63_full.arrival_time[i]
        x = [time_interval,total_travelling_time]
        travelling_time_63.append(x)

travelling_time_63 = pd.DataFrame(travelling_time_63)
travelling_time_63.head()

travelling_time_63.columns = ["63_day_hour", "total_travelling_time"]

travelling_time_63["total_travelling_time"] = travelling_time_63["total_travelling_time"]/pd.Timedelta('1 minutes')
travelling_time_63["total_travelling_time"] = travelling_time_63["total_travelling_time"].astype(float)
travelling_time_63["total_travelling_time"] = travelling_time_63["total_travelling_time"].abs()
travelling_time_63.describe()

B63_time = travelling_time_63.groupby(["63_day_hour"]).mean()
B63_freq = travelling_time_63.groupby(["63_day_hour"]).count()
B63_resume = pd.concat([B63_time, B63_freq], axis = 1)
B63_resume.columns = ["total_traveling_time","hourly_train_number"]
B63_resume

             total_traveling_time  hourly_train_number
63_day_hour
6                       35.500000                    2
7                       40.666667                    3
8                       43.800000                    5
9                       46.166667                    6
10                      48.500000                    4
11                      47.000000                    2
12                      48.400000                    5
13                      49.200000                    5
14                      48.125000                    8
15                      47.500000                    6
16                      47.000000                    3
17                      48.333333                    3
18                      49.500000                    8
19                      50.000000                    5
20                      51.333333                    6
21                      48.333333                    6
22                      44.400000                    5
23                      38.000000                    1

## Bus 65

In [82]:
df_65_a = df_65[(df_65["start_stop"] == True)]
df_65_b = df_65[(df_65["destination"] == True)]
df_65_full = pd.concat([df_65_a, df_65_b]).sort_values(by=['trip_id'])
df_65_full =df_65_full.reset_index(drop=True)

travelling_time_65 = []
for i in range(df_65_full.shape[0]-1):
    if df_65_full.trip_id[i] == df_65_full.trip_id[i+1]:       
        time_interval = df_65_full.departure_time[i].components.hours
        total_travelling_time = df_65_full.arrival_time[i+1] -df_65_full.arrival_time[i]
        x = [time_interval,total_travelling_time]
        travelling_time_65.append(x)

travelling_time_65 = pd.DataFrame(travelling_time_65)
travelling_time_65.head()

travelling_time_65.columns = ["65_day_hour", "total_travelling_time"]

travelling_time_65["total_travelling_time"] = travelling_time_65["total_travelling_time"]/pd.Timedelta('1 minutes')
travelling_time_65["total_travelling_time"] = travelling_time_65["total_travelling_time"].astype(float)
travelling_time_65["total_travelling_time"] = travelling_time_65["total_travelling_time"].abs()
travelling_time_65.describe()

B65_time = travelling_time_65.groupby(["65_day_hour"]).mean()
B65_freq = travelling_time_65.groupby(["65_day_hour"]).count()
B65_resume = pd.concat([B65_time, B65_freq], axis = 1)
B65_resume.columns = ["total_traveling_time","hourly_train_number"]
B65_resume

             total_traveling_time  hourly_train_number
65_day_hour
0                       35.000000                    1
5                       37.000000                    1
6                       37.000000                    2
7                       38.000000                    3
8                       40.250000                    4
9                       43.333333                    3
10                      46.500000                    4
11                      47.000000                    3
12                      48.000000                    4
13                      46.400000                    5
14                      47.500000                    4
15                      45.000000                    3
16                      46.200000                    5
17                      50.000000                    5
18                      50.000000                    3
19                      50.750000                    4
20                      47.000000                    6
21                      43.800000                    5
22                      40.000000                    5
23                      38.000000                    2

## Bus 124

In [83]:
df_124_a = df_124[(df_124["start_stop"] == True)]
df_124_b = df_124[(df_124["destination"] == True)]
df_124_full = pd.concat([df_124_a, df_124_b]).sort_values(by=['trip_id'])
df_124_full =df_124_full.reset_index(drop=True)

travelling_time_124 = []
for i in range(df_124_full.shape[0]-1):
    if df_124_full.trip_id[i] == df_124_full.trip_id[i+1]:       
        time_interval = df_124_full.departure_time[i].components.hours
        total_travelling_time = df_124_full.arrival_time[i+1] -df_124_full.arrival_time[i]
        x = [time_interval,total_travelling_time]
        travelling_time_124.append(x)

travelling_time_124 = pd.DataFrame(travelling_time_124)
travelling_time_124.head()

travelling_time_124.columns = ["124_day_hour", "total_travelling_time"]

travelling_time_124["total_travelling_time"] = travelling_time_124["total_travelling_time"]/pd.Timedelta('1 minutes')
travelling_time_124["total_travelling_time"] = travelling_time_124["total_travelling_time"].astype(float)
travelling_time_124["total_travelling_time"] = travelling_time_124["total_travelling_time"].abs()
travelling_time_124.describe()

B124_time = travelling_time_124.groupby(["124_day_hour"]).mean()
B124_freq = travelling_time_124.groupby(["124_day_hour"]).count()
B124_resume = pd.concat([B124_time, B124_freq], axis = 1)
B124_resume.columns = ["total_traveling_time","hourly_train_number"]
B124_resume

              total_traveling_time  hourly_train_number
124_day_hour
9                             13.0                    1
10                            13.0                    2
18                            13.0                    1
19                            13.0                    2
20                            13.0                    2
21                            13.0                    1

## Bus 125

In [84]:
df_125_a = df_125[(df_125["start_stop"] == True)]
df_125_b = df_125[(df_125["destination"] == True)]
df_125_full = pd.concat([df_125_a, df_125_b]).sort_values(by=['trip_id'])
df_125_full =df_125_full.reset_index(drop=True)

travelling_time_125 = []
for i in range(df_125_full.shape[0]-1):
    if df_125_full.trip_id[i] == df_125_full.trip_id[i+1]:       
        time_interval = df_125_full.departure_time[i].components.hours
        total_travelling_time = df_125_full.arrival_time[i+1] -df_125_full.arrival_time[i]
        x = [time_interval,total_travelling_time]
        travelling_time_125.append(x)

travelling_time_125 = pd.DataFrame(travelling_time_125)
travelling_time_125.head()

travelling_time_125.columns = ["125_day_hour", "total_travelling_time"]

travelling_time_125["total_travelling_time"] = travelling_time_125["total_travelling_time"]/pd.Timedelta('1 minutes')
travelling_time_125["total_travelling_time"] = travelling_time_125["total_travelling_time"].astype(float)
travelling_time_125["total_travelling_time"] = travelling_time_125["total_travelling_time"].abs()
travelling_time_125.describe()

B125_time = travelling_time_125.groupby(["125_day_hour"]).mean()
B125_freq = travelling_time_125.groupby(["125_day_hour"]).count()
B125_resume = pd.concat([B125_time, B125_freq], axis = 1)
B125_resume.columns = ["total_traveling_time","hourly_train_number"]
B125_resume

              total_traveling_time  hourly_train_number
125_day_hour
7                        19.000000                    2
8                        19.000000                    1
9                        19.000000                    5
10                       19.500000                    4
11                       19.800000                    5
12                       20.500000                    4
13                       19.666667                    3
14                       20.000000                    6
15                       18.400000                    5
16                       19.500000                    4
17                       18.600000                    5
18                       19.666667                    3
19                       19.200000                    5
20                       18.500000                    4
21                       17.666667                    3

## Bus 126

In [85]:
df_126_a = df_126[(df_126["start_stop"] == True)]
df_126_b = df_126[(df_126["destination"] == True)]
df_126_full = pd.concat([df_126_a, df_126_b]).sort_values(by=['trip_id'])
df_126_full =df_126_full.reset_index(drop=True)

travelling_time_126 = []
for i in range(df_126_full.shape[0]-1):
    if df_126_full.trip_id[i] == df_126_full.trip_id[i+1]:       
        time_interval = df_126_full.departure_time[i].components.hours
        total_travelling_time = df_126_full.arrival_time[i+1] -df_126_full.arrival_time[i]
        x = [time_interval,total_travelling_time]
        travelling_time_126.append(x)

travelling_time_126 = pd.DataFrame(travelling_time_126)
travelling_time_126.head()

travelling_time_126.columns = ["126_day_hour", "total_travelling_time"]

travelling_time_126["total_travelling_time"] = travelling_time_126["total_travelling_time"]/pd.Timedelta('1 minutes')
travelling_time_126["total_travelling_time"] = travelling_time_126["total_travelling_time"].astype(float)
travelling_time_126["total_travelling_time"] = travelling_time_126["total_travelling_time"].abs()
travelling_time_126.describe()

B126_time = travelling_time_126.groupby(["126_day_hour"]).mean()
B126_freq = travelling_time_126.groupby(["126_day_hour"]).count()
B126_resume = pd.concat([B126_time, B126_freq], axis = 1)
B126_resume.columns = ["total_traveling_time","hourly_train_number"]
B126_resume

              total_traveling_time  hourly_train_number
126_day_hour
7                        30.250000                    4
8                        32.750000                    4
9                        27.700000                   10
10                       28.181818                   11
11                       28.500000                   10
12                       28.545455                   11
13                       28.700000                   10
14                       26.900000                   10
15                       27.200000                   10
16                       27.444444                    9
17                       27.833333                   12
18                       27.818182                   11
19                       27.272727                   11
20                       26.363636                   11
21                       24.000000                    9
22                       25.000000                    1

## Bus H12

In [86]:
df_H12_a = df_H12[(df_H12["start_stop"] == True)]
df_H12_b = df_H12[(df_H12["destination"] == True)]
df_H12_full = pd.concat([df_H12_a, df_H12_b]).sort_values(by=['trip_id'])
df_H12_full =df_H12_full.reset_index(drop=True)

travelling_time_H12 = []
for i in range(df_H12_full.shape[0]-1):
    if df_H12_full.trip_id[i] == df_H12_full.trip_id[i+1]:       
        time_interval = df_H12_full.departure_time[i].components.hours
        total_travelling_time = df_H12_full.arrival_time[i+1] -df_H12_full.arrival_time[i]
        x = [time_interval,total_travelling_time]
        travelling_time_H12.append(x)

travelling_time_H12 = pd.DataFrame(travelling_time_H12)
travelling_time_H12.head()

travelling_time_H12.columns = ["H12_day_hour", "total_travelling_time"]

travelling_time_H12["total_travelling_time"] = travelling_time_H12["total_travelling_time"]/pd.Timedelta('1 minutes')
travelling_time_H12["total_travelling_time"] = travelling_time_H12["total_travelling_time"].astype(float)
travelling_time_H12["total_travelling_time"] = travelling_time_H12["total_travelling_time"].abs()
travelling_time_H12.describe()

BH12_time = travelling_time_H12.groupby(["H12_day_hour"]).mean()
BH12_freq = travelling_time_H12.groupby(["H12_day_hour"]).count()
BH12_resume = pd.concat([BH12_time, BH12_freq], axis = 1)
BH12_resume.columns = ["total_traveling_time","hourly_train_number"]
BH12_resume

              total_traveling_time  hourly_train_number
H12_day_hour
6                        46.666667                    6
7                        54.428571                    7
8                        57.857143                    7
9                        60.400000                    5
10                       58.500000                    8
11                       56.666667                    3
12                       58.000000                    5
13                       57.333333                    9
14                       56.777778                    9
15                       57.444444                    9
16                       59.875000                    8
17                       59.166667                    6
18                       59.500000                    8
19                       58.875000                    8
20                       55.875000                    8
21                       52.600000                    5
22                       49.400000                    5
23                       48.333333                    3

## Bus V19

In [87]:
df_V19_a = df_V19[(df_V19["start_stop"] == True)]
df_V19_b = df_V19[(df_V19["destination"] == True)]
df_V19_full = pd.concat([df_V19_a, df_V19_b]).sort_values(by=['trip_id'])
df_V19_full =df_V19_full.reset_index(drop=True)

travelling_time_V19 = []
for i in range(df_V19_full.shape[0]-1):
    if df_V19_full.trip_id[i] == df_V19_full.trip_id[i+1]:       
        time_interval = df_V19_full.departure_time[i].components.hours
        total_travelling_time = df_V19_full.arrival_time[i+1] -df_V19_full.arrival_time[i]
        x = [time_interval,total_travelling_time]
        travelling_time_V19.append(x)

travelling_time_V19 = pd.DataFrame(travelling_time_V19)
travelling_time_V19.head()

travelling_time_V19.columns = ["V19_day_hour", "total_travelling_time"]

travelling_time_V19["total_travelling_time"] = travelling_time_V19["total_travelling_time"]/pd.Timedelta('1 minutes')
travelling_time_V19["total_travelling_time"] = travelling_time_V19["total_travelling_time"].astype(float)
travelling_time_V19["total_travelling_time"] = travelling_time_V19["total_travelling_time"].abs()
travelling_time_V19.describe()

BV19_time = travelling_time_V19.groupby(["V19_day_hour"]).mean()
BV19_freq = travelling_time_V19.groupby(["V19_day_hour"]).count()
BV19_resume = pd.concat([BV19_time, BV19_freq], axis = 1)
BV19_resume.columns = ["total_traveling_time","hourly_train_number"]
BV19_resume

              total_traveling_time  hourly_train_number
V19_day_hour
6                        49.000000                    1
7                        51.000000                    1
8                        59.000000                    2
10                       60.000000                    1
11                       68.000000                    3
12                       68.000000                    1
13                       68.000000                    2
14                       68.000000                    2
15                       63.000000                    2
16                       63.000000                    1
17                       64.333333                    3
18                       67.000000                    1
19                       67.000000                    3
20                       62.250000                    4
21                       61.000000                    1
23                       51.000000                    1

## Bus D20

In [88]:
df_D20_a = df_D20[(df_D20["start_stop"] == True)]
df_D20_b = df_D20[(df_D20["destination"] == True)]
df_D20_full = pd.concat([df_D20_a, df_D20_b]).sort_values(by=['trip_id'])
df_D20_full =df_D20_full.reset_index(drop=True)

travelling_time_D20 = []
for i in range(df_D20_full.shape[0]-1):
    if df_D20_full.trip_id[i] == df_D20_full.trip_id[i+1]:       
        time_interval = df_D20_full.departure_time[i].components.hours
        total_travelling_time = df_D20_full.arrival_time[i+1] -df_D20_full.arrival_time[i]
        x = [time_interval,total_travelling_time]
        travelling_time_D20.append(x)

travelling_time_D20 = pd.DataFrame(travelling_time_D20)
travelling_time_D20.head()

travelling_time_D20.columns = ["D20_day_hour", "total_travelling_time"]

travelling_time_D20["total_travelling_time"] = travelling_time_D20["total_travelling_time"]/pd.Timedelta('1 minutes')
travelling_time_D20["total_travelling_time"] = travelling_time_D20["total_travelling_time"].astype(float)
travelling_time_D20["total_travelling_time"] = travelling_time_D20["total_travelling_time"].abs()
travelling_time_D20.describe()

BD20_time = travelling_time_D20.groupby(["D20_day_hour"]).mean()
BD20_freq = travelling_time_D20.groupby(["D20_day_hour"]).count()
BD20_resume = pd.concat([BD20_time, BD20_freq], axis = 1)
BD20_resume.columns = ["total_traveling_time","hourly_train_number"]
BD20_resume

              total_traveling_time  hourly_train_number
D20_day_hour
6                        38.500000                    2
7                        40.000000                    1
8                        42.333333                    3
9                        45.000000                    1
10                       49.000000                    5
11                       54.500000                    2
12                       57.666667                    3
13                       57.250000                    4
14                       57.000000                    1
15                       57.000000                    5
16                       57.500000                    2
17                       61.333333                    3
18                       60.500000                    2
19                       60.000000                    4
20                       59.000000                    2
21                       55.000000                    2
22                       53.000000                    2
23                       40.000000                    1